
@{
    ViewData["Title"] = "Lista de Servicios";
}

<h3>Lista de Servicios</h3>
<br />
<hr />
<table class="table table-responsive text-white">
    <thead>
        <tr>
            <th>Tipo Servicio</th>
            <th>ID Instancia</th>
            <th>ID Instancia2</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Trasient</th>
            <th>@ViewBag.trasient</th>
            <th>@ViewBag.trasient2</th>
        </tr>
        <tr>
            <th>Scoped</th>
            <th>@ViewBag.scoped</th>
            <th>@ViewBag.scoped2</th>
        </tr>
        <tr>
            <th>Singelton</th>
            <th>@ViewBag.singelton</th>
            <th>@ViewBag.singelton2</th>
        </tr>
    </tbody>
</table>
